<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Padanisa</title>
 <link rel="stylesheet" th:href="@{/CSS/adminhome.css}" />
  <link rel="icon" th:href="@{/image/logooo.png}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
 <div class="background-container">
        <div class="background-image"></div>
        <div class="container">
            <div class="logo-container">
                <img src="/image/logo.png" alt="Logo" />
                <div class="nav">
	                <a href="home">Home</a>
	                <a href="login">Logout</a>
	            </div>
            </div>
            <div class="form-container">
<h1>Added playlist</h1>
<a href="mapviewplaylist"><button>Click here to view playlist</button></a>
</body>
</html>