
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Padanisa</title>
<link rel="icon" th:href="@{/image/logooo.png}" />
    <link rel="stylesheet" th:href="@{/CSS/customerhome.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="background-container">
        <div class="background-image"></div>
        <div class="container">
            <div class="logo-container">
                <img src="/image/logo.png" alt="Logo" />
                                <div class="nav">
	                <a href="home">Home</a>
	                <a href="viewsong">View Songs</a>
	                <a href="login">Logout</a>
	            </div>
            </div>
            <div class="form-container">
<div class="content">
  <h1>Songs As Added</h1>
  <a href="viewsong"><button>Click here to View Songs</button></a>
  <a href="map-playlist"><button>Click here to Create Playlist</button></a>
</div>
</body>
</html>