<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Padanisa</title>
<link rel="icon" th:href="@{/image/logooo.png}" />
    <link rel="stylesheet" th:href="@{/CSS/adminhome.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
 <div class="background-container">
        <div class="background-image"></div>
        <div class="container">
            <div class="logo-container">
                <img src="/image/logo.png" alt="Logo" />
                 <a href="login">Logout</a>
            </div>
            <div class="form-container">
<div class="content">
  <h1>Your are in the AdminPage</h1>
  <a href="song"><button>Click here to Add Songs</button></a>
  <p> First Add the Songs</p>
  <a href="viewsong"><button>Click here to View Songs</button></a>
  <a href="map-playlist"><button>Click here to Create Playlist</button></a>
  <a href="mapviewplaylist"><button>Click here to view playlist</button></a>
</div>
</body>
</html>