<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Padanisa</title>
<link rel="icon" th:href="@{/image/logooo.png}" />
  <link rel="stylesheet" th:href="@{/CSS/customerhome.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
 <div class="background-container">
        <div class="background-image"></div>
        <div class="container">
            <div class="logo-container">
                <img src="/image/logo.png" alt="Logo" />
                 <a href="login">Logout</a>
            </div>
            <div class="form-container">
<h1>Welcome Back Buddy </h1>
<a href="/exploreSongs"><button>Views Songs</button></a>
<a href="mapviewplaylist1"><button>Click here to view playlist</button></a>
</body>
</html>
